<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.votingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.vote.BordaCountActivity"></activity>
        <activity android:name=".view.create.OngoingVotingActivity" />
        <activity android:name=".view.vote.JoinVotingActivity" />
        <activity
            android:name=".view.list.ListVotingsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".view.vote.VotesListActivity" />
        <activity android:name=".view.vote.VoteGivenActivity" />
        <activity android:name=".view.vote.CandidateVoteActivity" />
        <activity android:name=".view.vote.CandidateProgramActivity" />
        <activity android:name=".view.vote.AnswerListActivity" />
        <activity
            android:name=".view.create.CreateVotingActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>